<template>
    <v-app id="app">
        <v-main>
            <v-container>
                <div>
                    <router-link :to="{name:'homepage'}" exact>Homepage</router-link>
                    <router-link :to="{name:'intervention_add'}" exact>Add</router-link>
                </div>
                <router-view/>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
  export default {
    name: 'App'
  }
</script>
