<template>
    <div id="homepage">
        <h1>Homepage</h1>
        <v-data-table :headers="headers" :items="interventions" @click:row="edit"/>
    </div>
</template>

<script>
  import AppStorage from '../AppStorage'

  export default {
    name: 'Homepage',
    data () {
      return {
        headers: [
          {
            text: 'Site',
            value: 'site'
          }
        ],
        interventions: []
      }
    },
    methods: {
      edit (intervention) {
        this.$router.push({ name: 'intervention_edit', params: { intervention: intervention.uuid } })
      }
    },
    mounted () {
      AppStorage.getInterventions()
        .then(interventions => this.interventions = interventions)
    }
  }
</script>
