<template>
    <div id="intervention-add">
        <h1>Add intervention</h1>
        <v-form @submit.prevent="submit">
            <v-text-field autofocus label="Site" v-model="intervention.site"/>
            <v-btn color="success" type="submit">
                <v-icon>mdi-check</v-icon>
                Enregistrer
            </v-btn>
        </v-form>
    </div>
</template>

<script>
  import AppStorage from '../AppStorage'

  export default {
    name: 'InterventionAdd',
    data () {
      return {
        intervention: {
          site: ''
        }
      }
    },
    methods: {
      submit () {
        AppStorage.addIntervention(this.intervention)
          .then(() => {
            this.$router.push({ name: 'homepage' })
          })
      }
    }
  }
</script>
