<template>
    <div id="intervention-edit">
        <h1>Edit intervention</h1>
        <v-form @submit.prevent="submit">
            <v-text-field autofocus label="Site" v-model="intervention.site"/>
            <v-btn color="success" type="submit">
                <v-icon>mdi-check</v-icon>
                Enregistrer
            </v-btn>
        </v-form>
    </div>
</template>

<script>
  import AppStorage from '../AppStorage'

  export default {
    name: 'InterventionEdit',
    data () {
      return {
        intervention: {
          site: ''
        }
      }
    },
    methods: {
      submit () {
        AppStorage.updateIntervention(this.$route.params.intervention, this.intervention)
          .then(() => {
            this.$router.push({ name: 'homepage' })
          })
      }
    },
    mounted () {
      AppStorage.getIntervention(this.$route.params.intervention)
        .then(intervention => this.intervention = intervention)
    }
  }
</script>
