<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>Small PWA</title>
    {{ encore_entry_link_tags('app') }}
    <link rel="manifest" href="{{ asset('manifest.json') }}"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon" href="{{ asset('build/static/192.png') }}"/>
    <meta name="description" content="Small PWA"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<noscript>Sorry but this application requires Javascript.</noscript>
{{ encore_entry_script_tags('app') }}
</body>
</html>
